body{
    background-color: rgba(24, 25, 29, 0.978);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
}
.heading{
    background-color: rgb(18, 18, 37);
    height: 60px;
    width: 100%;
    margin-top: 22px;
    color: white;
    margin-top: -22px;
}
.heading span{
    color: rgb(177, 94, 209);
}
.heading h1{
    position: relative;
    left: 30px;
    top: 10px;
}
.heading input, .heading button{
    position: relative;
    top: -46px;
    left: 770px;
    width: 300px;
    height: 37px;
    border-radius: 10px;
    border: solid 1px white;
    padding-left: 10px;
    color: black;
    font-weight: bolder;
}
.heading button{
    width: 100px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    background-color: rgb(177, 94, 209);
}
.heading button:hover{
    background-color: white;
    color: black;
}
.info{
    margin-left: 5px;
}
.box{
    background-color: rgba(110, 110, 110, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 6);
    border-radius: 30px;
    width: 262px;
    height: 350px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.box h1{
    position: absolute;
    font-size: 16px;
    display: inline-block;
    color: white;
    left: 4px;
    top: 210px;
    font-weight: lighter;
}
.box p{
    position: absolute;
    font-size: 15px;
    display: inline-block;
    color: white;
    left: 10px;
    top: 297px;
}
.box img{
    width: 260px;
    height: 210px;
    border-radius: 5px;
    border: solid 2px black;
}
.result{
    color: white;
    margin-left: 30px;
    font-size: 28px;
    position: relative;
    top: 10px;
}
.moreInfo button{
    width: 100%;
    height: 37px;
    border-radius: 40px;
    border: solid 1px white;
    padding-left: 10px;
    color: white;   
    font-size: 23px;
    background-color: rgb(177, 94, 209);
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 160px;
}
.moreInfo button:hover{
    background-color: white;
    color: black;
}
.info{
    height: 20px;
    display: inline-block;
    color: white;
}
.information{
    display: inline-block;
}
.information img{
    width: 440px;
    height: 290px;
    position: relative;
    top: 50px;
    left: 18px;
    border: solid 2px black;
    border-radius: 20px;
}
.boxing{
    /* background-color: rgba(0, 255, 255, 0.342); */
    width: 700px;
    height: 380px;
    position: relative;
    top: -270px;
    left: 480px;
}
.publishedAt{
    color: white;
    font-size: 23px;
    position: relative;
    top: 50px;
    left: 24px;
    /* font-weight: bolder; */
}
.source,.author{
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.author{
    margin-left: 40px;
}
.title{
    color: rgb(177, 94, 209);
    font-weight: bolder;
    font-size: 31px;
    margin-top: 10px;
}
.description{
    color: white;
    /* font-weight: bolder; */
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.url{
    width: 150px;
    height: 60px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    background-color: rgb(177, 94, 209);
    border-radius: 10px;
    border: solid 1px white;
    color: black;
    font-weight: bolder;
    margin-top: 18px;
    text-decoration: none;
    top: 10px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.url:hover{
    background-color: white;
}
.content{
    color: white;
    /* font-weight: bolder; */
    font-size: 23px;
    margin-top: 31px;
}
.watherImage img{
    position: fixed;
    top: 20px;
    left: 530px;
    width: 200px;
    height: 200px;
    background-color: white;
    border: solid 2px black;
    border-radius: 15px;
}
.watherImage h1{
    position: fixed;
    top: 200px;
    left: 534px;
    font-size: 35px;
    color: white;
}
