*{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
}
body{
    background-color: rgba(24, 25, 29, 0.978);
}
.heading{
    position: relative;
    background-color: rgb(18, 18, 37);
    height: 6vw;
    width: 97.5vw;
    margin-top: 2.2vw;
    color: white;
    margin-top: -2.2vw;
}
.heading span{
    color: rgb(177, 94, 209);
}
.heading h1{
    position: relative;
    left: 2.3vw;
    top: 1vw;
    font-size: 2.6vw;
}
.heading input, .heading button{
    position: relative;
    top: -4vw;
    left: 70vw;
    width: 21vw;
    height: 3vw;
    border-radius: 1vw;
    border: solid 1px white;
    padding-left: 1vw;
    color: black;
    font-weight: bolder;
    font-size: 1vw;
}
.heading button{
    width: 8vw;
    cursor: pointer;
    color: white;
    font-size: 2vw;
    background-color: rgb(177, 94, 209);
    width: 4.3vw;
}
.heading button:hover{
    background-color: white;
    color: black;
}
.box{
    background-color: rgba(110, 110, 110, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 0.8vw 3.2vw 0 rgba(0, 0, 0, 6);
    border-radius: 3vw;
    width: 20vw;
    height: 31vw;
    display: inline-block;
    margin-left: 2vw;
    margin-top: 1.4vw;
    cursor: pointer;
}
.box button{
    border: 0.2vw solid black;
    font-size: 1vw;
    border-radius: 2vw;
    height: 2.5vw;
    width: 19.3vw;
    cursor: pointer;
    position: absolute;
    bottom: 1vw;
    left: 0.3vw;
    font-weight: bold;
    background-color: rgb(177, 94, 209);
    color: white;
    border: 0.2vw solid white;
}
.box button:hover{
    background-color: white;
    color: black;
    border: 0.2vw solid black;
}
.box h1{
    position: absolute;
    font-size: 1.3vw;
    display: inline-block;
    color: white;
    top: 17vw;
    font-weight: lighter;
    /* text-align: center; */
    margin-left: 0.3vw;
    /* text-align: center; */
}
.box p{
    position: absolute;
    font-size: 1.3vw;
    color: white;
    top: 23vw;
    margin-left: 0.3vw;
}
.box img{
    width: 19.7vw;
    height: 17vw;
    border-radius: 1vw;
    border: solid 0.2vw black;
}
.result{
    color: white;
    margin-left: 2.6vw;
    font-size: 2vw;
    position: relative;
    top: 1vw;
    display: inline-block;
}
.info{
    height: 2vw;
    display: inline-block;
    color: white;
    width: 71vw;
}
.information{
    position: absolute;
    top: 4vw;
    width: 91.7vw;
    margin-left: 1vw;  
    border-top: 0.7vw solid white;
    border-radius: 8px;
    backdrop-filter:  blur(4px);
    background-color: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 6);
    height: 65vw;
}
.information img{
    width: 36vw;
    height: 29vw;
    position: relative;
    top: 2vw;
    left: 1.3vw;
    border: solid 0.2vw black;
    border-radius: 1vw;
}
.boxing{
    /* background-color: rgba(0, 255, 255, 0.342); */
    width: 52vw;
    position: absolute;
    left: 38.5vw;
    top: 2vw;
}
.publishedAt{
    color: white;
    font-size: 1.9vw;
    position: relative;
    top: 2vw;
    left: 2vw;
    display: inline-block;
}
.source,.author{
    display: inline-block;
    color: white;
    font-size: 1.5vw;
    font-weight: lighter;
}
.author{
    margin-left: 2.5vw;
}
.title{
    color: rgb(177, 94, 209);
    font-weight: bolder;
    font-size: 2.3vw;
    margin-top: 1vw;
}
.description{
    color: white;
    font-weight: lighter;
    font-size: 2vw;
    margin-top: 10px;
    margin-bottom: 20px;
}
.url{
    width: 15vw;
    height: 6vw;
    cursor: pointer;
    color: white;
    font-size: 1.8vw;
    background-color: rgb(177, 94, 209);
    border-radius: 2vw;
    border: solid 1px white;
    color: black;
    font-weight: bolder;
    margin-top: 1.8vw;
    text-decoration: none;
    top: 1vw;
    position: relative;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.url:hover{
    background-color: white;
}
.remove,.removeFromAbourt,.removeFromContact{
    width: 5vw;
    background-color: rgb(177, 94, 209);
    color: white;
    font-size: 2.4vw;
    font-weight: lighter;
    position: absolute;
    top: -2.8vw;
    border-radius: 50%;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border: 0.2vw solid white;
    right: -3.4vw;
    cursor: pointer;
}
.remove:hover,.removeFromAbourt:hover,.removeFromContact:hover{
    background-color: white;
    color: black;
}
.content{
    color: white;
    /* font-weight: bolder; */
    font-size: 1.8vw;
    margin-top: 3vw;
}
.watherImage img{
    position: fixed;
    top: 15vw;
    left: 30vw;
    width: 20vw;
    height: 20vw;
    background-color: white;
    border: solid 0.2vw black;
    border-radius: 15px;
}
.watherImage h1{
    position: fixed;
    top: 34vw;
    left: 30.5vw;
    font-size: 2vw;
    color: white;
}
.Categories{
    width: 23vw;
    position: sticky;
    top: 0.1vw;
    float: right;
    height: 50vw;
    background-color: black;
    border-radius: 0.5vw;
    color: white;
    padding-left: 0.9vw;
    font-weight: lighter;
    overflow: scroll;
    margin-bottom: -11vw;
}
.Categories h3{
    font-size: 1.7vw;
}
.Categories ul{
    padding-left: 1.5vw;
}
.Categories li{
    margin-top: 1.2vw;
    font-size: 1.7vw;
    cursor: pointer;
    padding-left: 1vw;
    /* list-style: none; */
}
.Categories li:hover{
    background-color: rgb(129, 126, 126);
}
.Additional, .about{
    width: 18vw;
    height: 3vw;
    color: white;
    background-color: rgb(18, 18, 37);
    border: 1.5px solid black;
    font-size: 1.45vw;
    position: absolute;
    top: 1vw;
    left: 24vw;
    cursor: pointer;
    border-radius: 1vw;
}
.about{
    left: 47vw;
}
.AdditionalFeatures ul,.AboutandContact ul{
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 3vw;
    left: 24.3vw;
    font-weight: lighter;
    padding-left: 0.1vw;
    /* padding-right: 1vw; */
    font-size: 1.7vw;
    text-align: center;
    cursor: pointer;
    padding-top: 1vw;
    padding-bottom: 1vw;
    cursor: pointer;
    color: white;
    list-style: none;
}
.AboutandContact ul{
    left: 47vw;
    width: 16.5vw;
}
.AdditionalFeatures li,.AboutandContact li{
    list-style: none;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}
.AdditionalFeatures li:hover,.AboutandContact li:hover{
    background-color: rgb(129, 126, 126);
}
.showing{
    visibility: hidden;
}
.aboutUS, .contactUs{
    width: 91vw;
    border: 0.3vw solid white;
    position: absolute;
    left: 3vw;
    top: 4vw;
    color: white;
    backdrop-filter:  blur(4px);
    background-color: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 6);
    padding-right: 1vw;
}
.aboutUS p,.contactUs p{
    font-size: 1.6vw;
    margin-left: 1vw;
    margin-top: 0.8vw;
}
.headInfo h5{
    margin-bottom: 0.1vw;
    font-weight: bolder;
    margin-left: 1vw;
    font-size: 1.6vw;
    margin-top: 0.1vw;
    color: rgb(177, 94, 209);
}
.headInfo span,.clickBal{
    color: rgb(0, 102, 255);
}
.headInfo ul{
    margin-top: -2vw;
}
.headInfo li{
    font-size: 1.6vw;
    padding-top: 0.2vw;
}
