*{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif, 'Times New Roman', Times, serif;
}
body{
    background-color: rgba(24, 25, 29, 0.978);
}
.heading{
    position: relative;
    background-color: rgb(18, 18, 37);
    height: 60px;
    width: 98%;
    margin-top: 22px;
    color: white;
    margin-top: -22px;
}
.heading span{
    color: rgb(177, 94, 209);
}
.heading h1{
    position: relative;
    left: 30px;
    top: 10px;
}
.heading input, .heading button{
    position: relative;
    top: -46px;
    left: 836px;
    width: 270px;
    height: 37px;
    border-radius: 10px;
    border: solid 1px white;
    padding-left: 10px;
    color: black;
    font-weight: bolder;
}
.heading button{
    width: 80px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    background-color: rgb(177, 94, 209);
    width: 50px;
}
.heading button:hover{
    background-color: white;
    color: black;
}
.info{
    margin-left: 5px;
}
.box{
    background-color: rgba(110, 110, 110, 0.25);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 6);
    border-radius: 30px;
    width: 20vw;
    height: 380px;
    display: inline-block;
    margin-left: 2vw;
    margin-top: 20px;
    cursor: pointer;
}
.box button{
    border: 0.2vw solid black;
    font-size: 1.2vw;
    border-radius: 6px;
    height: 2.5vw;
    width: 12vw;
    cursor: pointer;
    position: absolute;
    bottom: 1vw;
    left: 4vw;
    font-weight: bold;
    background-color: rgb(177, 94, 209);
    color: white;
    border: 0.2vw solid white;
}
.box button:hover{
    background-color: white;
    color: black;
    border: 0.2vw solid black;
}
.box h1{
    position: absolute;
    font-size: 16px;
    display: inline-block;
    color: white;
    left: 4px;
    top: 210px;
    font-weight: lighter;
    text-align: center;
}
.box p{
    position: relative;
    font-size: 15px;
    /* display: inline-block; */
    color: white;
    /* left: 3vw; */
    top: 5vw;
    text-align: center;
}
.box img{
    width: 19.7vw;
    height: 210px;
    border-radius: 5px;
    border: solid 2px black;
}
.result{
    color: white;
    margin-left: 30px;
    font-size: 28px;
    position: relative;
    top: 10px;
}
.moreInfo button{
    width: 73%;
    height: 37px;
    border-radius: 40px;
    border: solid 1px white;
    padding-left: 10px;
    color: white;   
    font-size: 23px;
    background-color: rgb(177, 94, 209);
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 160px;
}
.moreInfo button:hover{
    background-color: white;
    color: black;
}
.info{
    height: 20px;
    display: inline-block;
    color: white;
    width: 73%;
}
.information{
    position: absolute;
    top: 40px;
    width: 94%;
    margin-left: 10px;  
    border: 8px solid white;
    border-radius: 8px;
    backdrop-filter:  blur(4px);
    background-color: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 6);
    height: 600px;
}
.information img{
    width: 440px;
    height: 290px;
    position: relative;
    top: 20px;
    left: 18px;
    border: solid 2px black;
    border-radius: 20px;
}
.boxing{
    /* background-color: rgba(0, 255, 255, 0.342); */
    width: 660px;
    position: relative;
    left: 480px;
    top: -274px;
    
}
.publishedAt{
    color: white;
    font-size: 23px;
    position: absolute;
    top: 320px;
    left: 24px;
    display: inline-block;
}
.source,.author{
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.author{
    margin-left: 40px;
}
.title{
    color: rgb(177, 94, 209);
    font-weight: bolder;
    font-size: 31px;
    margin-top: 10px;
}
.description{
    color: white;
    /* font-weight: bolder; */
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.url{
    width: 150px;
    height: 60px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    background-color: rgb(177, 94, 209);
    border-radius: 10px;
    border: solid 1px white;
    color: black;
    font-weight: bolder;
    margin-top: 18px;
    text-decoration: none;
    top: 10px;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.url:hover{
    background-color: white;
}
.remove,.removeFromAbourt,.removeFromContact{
    width: 60px;
    background-color: rgb(177, 94, 209);
    color: white;
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    top: -38px;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid white;
    right: -50px;
    cursor: pointer;
}
.remove:hover,.removeFromAbourt:hover,.removeFromContact:hover{
    background-color: white;
    color: black;
}
.content{
    color: white;
    /* font-weight: bolder; */
    font-size: 23px;
    margin-top: 31px;
}
.watherImage img{
    position: fixed;
    top: 30%;
    left: 30%;
    width: 200px;
    height: 200px;
    background-color: white;
    border: solid 2px black;
    border-radius: 15px;
}
.watherImage h1{
    position: fixed;
    top: 63%;
    left: 31%;
    font-size: 35px;
    color: white;
}
.Categories{
    width: 24vw;
    position: absolute;
    top: 60px;
    right: 33px;
    height: 90%;
    background-color: black;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
    font-weight: lighter;
    overflow: auto;
}
.Categories li{
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    padding-left: 10px;
    /* list-style: none; */
}
.Categories li:hover{
    background-color: rgb(129, 126, 126);
}
.Additional, .about{
    width: 213px;
    height: 40px;
    color: white;
    background-color: rgb(18, 18, 37);
    border: 3px solid black;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 300px;
    cursor: pointer;
    border-radius: 15px;
}
.about{
    left: 570px;
}
.AdditionalFeatures ul,.AboutandContact ul{
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 300px;
    font-weight: lighter;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    color: white;
    list-style: none;
}
.AboutandContact ul{
    left: 570px;
    width: 193px;
}
.AdditionalFeatures li,.AboutandContact li{
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.AdditionalFeatures li:hover,.AboutandContact li:hover{
    background-color: rgb(129, 126, 126);
}
.showing{
    visibility: hidden;
}
.aboutUS, .contactUs{
    width: 90%;
    border: 9px solid white;
    position: absolute;
    left: 3%;
    top: 8%;
    color: white;
    backdrop-filter:  blur(4px);
    background-color: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 6);
}
.aboutUS p,.contactUs p{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 8px;
}
.headInfo h5{
    margin-bottom: -8px;
    font-weight: bolder;
    margin-left: 10px;
    font-size: 20px;
    margin-top: -14px;
    color: rgb(177, 94, 209);
}
.headInfo span,.clickBal{
    color: rgb(0, 102, 255);
}
.headInfo ul{
    margin-top: -20px;
}
.headInfo li{
    font-size: 20px;
    padding-top: 2px;
}
